body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #121212;
  color: #ffffff;
}

.container {
  width: 350px;
  margin: 100px auto;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  width: 95%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

a {
  color: #4caf50;
  text-decoration: none;
}

/* TODO LIST */
.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #2a2a2a;
  margin-top: 10px;
  border-radius: 5px;
}

.todo-item span {
  cursor: pointer;
}
